
.container {
  margin-top: 20px;
}

.jumbotron {
  padding-top: 12px;
  padding-bottom: 12px;
}
.social {
  position: relative;
  text-align: center;
  font-size: 20px;
}

.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
	border-radius: 50%;
	font-size: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 60px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 60px;
}

.fa-instagram {
  background: #125688;
  color: white;
  width: 60px;
}